#photo_header {
  margin: 25px 0px;
}

#main {
  padding: 25px;
  text-align: center;
}

.section {
  padding: 25px;
  border: 3px black;

}

.footer {
  padding-top: 25px;
  
}

ul {
  list-style-type: none;
}

#submit-button {
  background-color: lightgray;
  border-color:
}

#submit-button:hover {
  background-color: rgb(207, 204, 204);
}