#photo_header {
  margin: 25px 0px;
}

#main {
  padding: 25px;
  text-align: center;
}

.section {
  padding: 25px;
  border: 3px black;

}

.footer {
  padding-top: 25px;
  
}

ul {
  list-style-type: none;
}

#continue-button {
  background-image: linear-gradient( #FFE39D 49%, 
  #FFE7AA 50%, #FFD057 51%);
}

#submit-button {
  background-image: linear-gradient(rgb(172, 172, 172),rgb(233, 233, 233));
  border-color: black;
}

#submit-button:hover {
  background-color: rgb(206, 206, 206);
}
